.WeatherForecast {
  padding: 10px;
  font-family: "Dosis", sans-serif;
}

.next-day-forecast {
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

.next-day-forecast:hover {
  background-color: #063366;
}

.day-of-week {
  font-size: 20px;
  font-weight: 400;
}

.weather-icon {
  font-size: 20px;
  margin: 20px auto;
}

.min-max-temp {
  font-size: 15px;
  color: white;
}

#weather-icon {
  width: 60px;
}

.max-temp {
  font-weight: bold;
}
